.Register{
    background-color : rgb(230 225 225);
}

.form-container {
    background-image: linear-gradient(0, #846156, #2da6f5);
    /* Màu nền của biểu mẫu */
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Đổ bóng cho biểu mẫu */
    margin: 0 auto;
    /* Căn giữa theo chiều ngang */
    width: 50%;
    /* Độ rộng của biểu mẫu */
}

.form-label{
    color: aliceblue;
}